<html>
    <head>

    </head>
    <body style="text-align: center;">
        <div id="meuvue">
          
            Numero 1: <input type="number" step="0.01" v-bind:class="cls" v-model="n1">
            <br><br>
            Numero 2: <input type="number" step="0.01" v-bind:class="cls" v-model="n2">
            <br><br>
            Numero 3: <input type="number" step="0.01" v-bind:class="cls" v-model="n3">
            <br><br>
            Numero 4: <input type="number" step="0.01" v-bind:class="cls" v-model="n4">

            <br><br>

            <div v-if="imc > 0">

              O seu IMC é {{imc.toFixed(2)}}

              <br><Br>

              <p v-if="imc > 0 && imc < 18">
                Magro
              </p>
              <p v-else-if="imc > 18 && imc < 30">
                Não magro
              </p>
              <p v-else="">
                Obesidade
              </p>
          </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>

            const app = Vue.createApp({
              data() {
                return {
                  n1: 1,
                  n2: 1,
                  n3: 1,
                  n4: 1,
                  cls: 'green'
                }
              },
              methods:{
                
              },
              computed:{
                res(){
                  return (this.n1 + this.n2 + this.n3 + this.n4) / 4;
                }
              },
              watch:{
                peso(newVal, oldVal){
                  this.n1 = newVal
                  if(newVal >= 50){
                    this.cls = "green"
                  }
                  else{
                    this.cls = "red"
                  }
                },
                altura(newVal, oldVal){

                }
              }
            })
          
           app.mount('#meuvue')
          
          </script>
          <style>
            .red{
              color:red;
            }
            .green{
              color:green;
            }
          </style>
    </body>
</html>