<html>
    <head>
    </head>
    <body style="text-align: center;">
        <div id="meuvue">
          
            Numero 1: <input type="number" step="0.01" v-bind:class="cls" v-model="n1">
            <br><br>
            Numero 2: <input type="number" step="0.01" v-bind:class="cls" v-model="n2">
            <br><br>
            Numero 3: <input type="number" step="0.01" v-bind:class="cls" v-model="n3">
            <br><br>
            Numero 4: <input type="number" step="0.01" v-bind:class="cls" v-model="n4">

            <br><br>

            <div v-if="media >= 0">
              <p> A sua média é: {{media.toFixed(1)}} </p>

              <p v-if="media >= 0 && media <= 5" v-bind:class="Insuficiente">Insuficiente</p>
              <p v-else-if="media > 5 && media <= 7" v-bind:class="Regular">Regular</p>
              <p v-else-if="media > 7 && media < 9" v-bind:class="Bom">Bom</p>
              <p v-else v-bind:class="MtBom">Muito Bom</p>
            </div>

        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const app = Vue.createApp({
              data() {
                return {
                  n1: 0,
                  n2: 0,
                  n3: 0,
                  n4: 0,
                  Insuficiente: 'red',
                  Regular: 'blue',
                  Bom:'green',
                  MtBom:'green'
                }
              },
              computed:{
                media(){
                  return (this.n1 + this.n2 + this.n3 + this.n4) / 4;
                }
              },
              watch: {
                n1(newVal) {
                  if (newVal < 0) this.n1 = 0;
                  if (newVal > 10) this.n1 = 10;
                },
                n2(newVal) {
                  if (newVal < 0) this.n2 = 0;
                  if (newVal > 10) this.n2 = 10;
                },
                n3(newVal) {
                  if (newVal < 0) this.n3 = 0;
                  if (newVal > 10) this.n3 = 10;
                },
                n4(newVal) {
                  if (newVal < 0) this.n4 = 0;
                  if (newVal > 10) this.n4 = 10;
                }
              }
            })
          
           app.mount('#meuvue')
          
          </script>
          <style>
            .red{
              color: red;
            }
            .blue{
              color: blue;
            }
            .green{
              color: green;
            }
          </style>
    </body>
</html>
